backend/node_modules/
backend/auth/node_modules/
backend/auth/node_modules/
backend/course/node_modules/
backend/middleware/node_modules/
backend/gateway/node_modules/
backend/middlewares/node_modules/
/node_modules/
node_modules/
.env
/**/*.env